apiVersion: v1
kind: Service
metadata:
  name: payment-gateway
  namespace: finance
spec:
  selector:
    app: payment-gateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
